/* Add CSS Styling */

.regular-class{
    font-family: Verdana, DejaVu Sans, sans-serif;
    background-color: pink;
}

#first{
    color: blue;
    font-size: 36px;
}

#second{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}

.cooler-class{
    font-size: 24px;
}